Source: paper-icon-theme
Section: x11
Priority: optional
Maintainer: Zijung Chueh <i@zijung.me>
Uploaders:
  Zijung Chueh <i@zijung.me>,
Build-Depends: debhelper (>= 11~)
Standards-Version: 4.1.4
Homepage: https://github.com/snwh/paper-icon-theme
Vcs-Git: https://github.com/snwh/paper-icon-theme.git
Vcs-Browser: https://github.com/snwh/paper-icon-theme

Package: paper-icon-theme
Architecture: all
Depends:
 ${misc:Depends},
 ${shlibs:Depends},
Description: Paper Icon Theme
 Paper is simple and modern icon theme with material design influences.
