Source: lightdm-webkit-theme-pantheon
Section: x11
Priority: optional
Maintainer: Zijung Chueh <i@zijung.me>
Build-Depends:
 debhelper (>= 10),
Standards-Version: 4.1.2
Homepage: https://github.com/zijung/lightdm-webkit-theme-pantheon
Vcs-Git: https://github.com/zijung/lightdm-webkit-theme-pantheon.git
Vcs-Browser: https://github.com/zijung/lightdm-webkit-theme-pantheon

Package: lightdm-webkit-theme-pantheon
Architecture: all
Depends:
 lightdm-webkit2-greeter,
Description: Pantheon theme for lightdm-webkit2-greeter.
 Provides a theme for lightdm-webkit2-greeter,
 inspired by the pantheon-greeter as seen on elementary OS.
 It is still work in progress, a lot of features are missing.
