Source: polybar
Section: x11
Priority: optional
Maintainer: Zijung Chueh <i@zijung.me>
Build-Depends:
 debhelper (>= 10),
 cmake,
 libcairo2-dev,
 libxcb1-dev,
 libxcb-ewmh-dev,
 libxcb-icccm4-dev,
 libxcb-image0-dev,
 libxcb-randr0-dev,
 libxcb-util0-dev,
 libxcb-xkb-dev,
 pkg-config,
 python-xcbgen,
 xcb-proto,
 libxcb-xrm-dev,
 i3-wm,
 libjsoncpp-dev,
 libasound2-dev,
 libpulse-dev,
 libmpdclient-dev,
 libiw-dev,
 libcurl4-openssl-dev,
 libxcb-cursor-dev
Standards-Version: 4.1.2
Homepage: https://github.com/jaagr/polybar
Vcs-Git: https://github.com/jaagr/polybar.git
Vcs-Browser: https://github.com/jaagr/polybar

Package: polybar
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Fast and easy-to-use tool for creating status bars.
 Polybar aims to help users build beautiful and highly customizable
 status bars for their desktop environment, without the need of
 having a black belt in shell scripting.
